/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
  /*Navbar*/

  .navbar {
    position: fixed;
    top: -150%;
    width: 100%;
    right: 0;
    left: 0;
    height: 100vh;
    background-color: var(--collorThird);
    transition: all 0.6s;
    z-index: 99;
    padding-top: 5rem;
  }

  .navbar.active {
    top: 0;
  }

  .navbar ul {
    flex-direction: column;
  }

  .navbar ul li {
    font-size: 1.2rem;
    font-weight: 400;
  }

  .navbar ul a:hover {
    color: var(--colorSecond);
  }

  /* hamburger menu */

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1rem;
    height: 4rem;
  }

  #hamburger {
    height: 2.5rem;
    width: 2.5rem;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
  }

  #hamburger span {
    height: 5px;
    width: 1.7rem;
    background-color: black;
    border-radius: 25px;
    position: absolute;
    top: 5%;
    right: 8px;
    transform: translate(-50%, -50%);
    transition: all 0.5s;
    z-index: 100;
  }

  #hamburger span:nth-child(1) {
    top: 3%;
    right: 32px;
    width: 0.7rem;
  }

  #hamburger span:nth-child(3) {
    top: 7%;
    height: 5px;
    width: 0.7rem;
    right: 17px;
  }

  #hamburger.active span:nth-child(1) {
    top: 4%;
    width: 1rem;
    height: 3.5px;
    transform: translate(1%, 30%) rotate(45deg);
  }
  #hamburger.active span:nth-child(2) {
    height: 3.5px;

    transform: translate(-50%, -50%) rotate(-50deg);
  }
  #hamburger.active span:nth-child(3) {
    top: 5%;
    /* background-color: aqua; */
    height: 3.5px;
    width: 1rem;
    transform: translate(-40%, 75%) rotate(45deg);
  }

  .logo .name::before {
    content: ""; /* Konten kosong karena hanya kotak yang ditampilkan */
    display: inline-block;
    width: 12px; /* Ukuran lebar kotak */
    height: 12px; /* Ukuran tinggi kotak */
    background-color: var(--colorSecond); /* Warna kotak */
    position: absolute;
    left: -20px; /* Atur jarak kotak dari teks */
    top: 50%; /* Posisikan di tengah vertikal */
    transform: translateY(-50%); /* Sesuaikan agar di tengah */
  }

  .logo .name {
    font-size: clamp(0.8rem, 3.5vw, 1.5rem);
  }

  .logo .line,
  .logo .profesi {
    font-size: clamp(0.6rem, 3vw, 1.2rem);
  }

  /* HEADER */

  .container {
    padding: 3rem 2rem;
  }

  /* HERO */
  .hero {
    width: 100%;
  }
  .container-1 {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    width: 100%;
  }

  .hero-left {
    height: 30vh;
    background-color: var(--colorbody);
  }
  .hero-right {
    background-color: var(--colorSecond);
  }

  .tamplate {
    height: 25rem;
    width: 17rem;
    background-color: var(--collorThird);
    z-index: 3;
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow: -10px 10px 15px rgb(0, 0, 0, 0.1);

    /* Pemusatan absolut ke tengah */
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .back-image {
    height: 14rem;
    width: 14rem;
    top: 0;
    border-radius: 50%;
    background-color: var(--colorBody);
    position: absolute;
    display: flex;
    justify-content: center;

    align-items: center;
    z-index: 1;
    overflow: hidden;
  }

  .tamplate img {
    height: 18rem;
    width: 18rem;

    position: absolute;
    display: block;
    z-index: 2;
    object-fit: cover; /* Menjaga proporsi gambar agar sesuai dengan area */
  }

  .tamplate h1 {
    font-size: 1.2rem;
    font-weight: 900;
  }

  .line-image {
    background-color: var(--colorSecond);
    padding: 1px 30px;
    margin: 4px 9.5rem;
  }

  .tamplate h2 {
    font-weight: 300;
    font-size: 1rem;
  }

  .medsos-tamplate {
    width: 100%;
    margin-top: 0.5rem;
    background-color: var(--colorBody);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .medsos-tamplate ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 1.2rem;
  }

  /* HERO RIGHT */

  .hero-right {
    width: 100%;
    padding: 0 0.5rem;
    padding-bottom: 15rem;
    display: fixed;
    padding-top: 25rem;
    align-items: center;
    text-align: center;
  }

  .hero-right h1 {
    font-size: 3rem;
  }

  .buttons a {
    padding: 7px 25px;
  }

  .btn-1:hover {
    background-color: var(--colorBody);
    color: var(--colorSecond);
  }

  .btn-2:hover {
    background-color: var(--colorSecond);
    color: var(--colorBody);
  }

  .hero-right h4 {
    font-size: 1rem;
  }

  .paragraph {
    display: flex;
    text-align: left;
    flex-wrap: wrap;
    width: 85%;
  }

  .paragraph p {
    padding: 10px 1.3rem;
    font-size: 1.2rem;
    text-align: justify;
  }

  /* FOOTER */

  .footer {
    width: 100%;
    display: grid;
    align-items: start;
    grid-template-columns: 1fr;
    padding: 2.5rem 2rem;
    background-color: var(--colorBody);
    right: 0;
    left: 0;
  }

  .tag-1 p {
    grid-row: 2;
    margin-top: 1rem;
    padding-left: 0;
    font-size: 0.7rem;
  }

  .call p,
  .email p,
  .follow p {
    font-size: 0.7rem;
  }

  .tag-2 {
    width: 100%;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    align-items: start;
    text-align: start;
    gap: 1rem;
    grid-row: 1;
  }

  .call h1,
  .email h1,
  .follow h1 {
    font-size: 0.8rem;
    font-weight: 500;
    padding-bottom: 5px;
  }

  .follow svg {
    height: 1.2rem;
    padding-top: 5px;
    margin: 0;
  }

  .follow a {
    text-decoration: none;
  }

  /* RESUME */

  .hero-resume {
    padding-left: clamp(1rem, 7vw, 5rem);
    padding-right: clamp(1rem, 7vw, 5rem);
    justify-content: center;
    width: 100%;
  }

  .tag-resume ul li {
    font-size: 1.8rem;
    font-family: "Robotto";
  }

  .tag-resume::before {
    left: 0;
    width: 15px;
    position: relative;
    height: 15px;
    transform: translateY(-50%); /* Agar kotak tepat di tengah teks */
    margin-top: 15px;
    margin-right: 5px; /* Sesuaikan jarak antara kotak dan teks */
  }

  .tag2-resume h1 {
    font-size: 1.2rem;
  }

  .tag2-resume a {
    padding: 5px 10px;
    font-size: 0.8rem;
  }

  .education,
  .education-2 {
    gap: 10px;
    height: 18rem;
    justify-content: center;
    padding-left: clamp(0.5rem, 5vw, 2rem);
    padding-right: clamp(0.5rem, 5vw, 2rem);
  }

  .education-left h1 {
    font-size: 1rem;
  }

  .education-left h4 {
    font-size: 0.8rem;
    font-weight: 300;
  }

  .education-left h3 {
    font-size: 0.7rem;
  }

  .education-left p {
    font-size: 0.6rem;
    padding-top: 10px;
    font-weight: 300;
  }

  .education-right {
    font-size: clamp(0.7rem, 2.5vw, 1rem);
  }

  /* PROJECT */

  .container {
    padding: 3rem 2rem;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1rem;
    height: 4rem;
  }

  #hamburger {
    height: 2.5rem;
    width: 2.5rem;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
  }

  #hamburger span {
    height: 5px;
    width: 1.7rem;
    background-color: black;
    border-radius: 25px;
    position: absolute;
    top: 5%;
    right: 8px;
    transform: translate(-50%, -50%);
    transition: all 0.5s;
    z-index: 100;
  }

  #hamburger span:nth-child(1) {
    top: 3%;
    right: 32px;
    width: 0.7rem;
  }

  #hamburger span:nth-child(3) {
    top: 7%;
    height: 5px;
    width: 0.7rem;
    right: 17px;
  }

  #hamburger.active span:nth-child(1) {
    top: 4%;
    width: 1rem;
    height: 3.5px;
    transform: translate(1%, 30%) rotate(45deg);
  }
  #hamburger.active span:nth-child(2) {
    height: 3.5px;

    transform: translate(-50%, -50%) rotate(-50deg);
  }
  #hamburger.active span:nth-child(3) {
    top: 5%;
    /* background-color: aqua; */
    height: 3.5px;
    width: 1rem;
    transform: translate(-40%, 75%) rotate(45deg);
  }

  .logo .name::before {
    content: ""; /* Konten kosong karena hanya kotak yang ditampilkan */
    display: inline-block;
    width: 12px; /* Ukuran lebar kotak */
    height: 12px; /* Ukuran tinggi kotak */
    background-color: var(--colorSecond); /* Warna kotak */
    position: absolute;
    left: -20px; /* Atur jarak kotak dari teks */
    top: 50%; /* Posisikan di tengah vertikal */
    transform: translateY(-50%); /* Sesuaikan agar di tengah */
  }

  .logo .name {
    font-size: clamp(0.8rem, 3.5vw, 1.5rem);
  }

  .logo .line,
  .logo .profesi {
    font-size: clamp(0.6rem, 3vw, 1.2rem);
  }

  .navbar {
    position: fixed;
    top: -150%;
    width: 100%;
    right: 0;
    left: 0;
    height: 100vh;
    background-color: var(--collorThird);
    transition: all 0.6s;
    z-index: 99;
    padding-top: 5rem;
  }

  .navbar.active {
    top: 0;
  }

  .navbar ul {
    flex-direction: column;
  }

  .navbar ul li {
    font-size: 1.2rem;
    font-weight: 400;
  }

  .navbar ul a:hover {
    color: var(--colorSecond);
  }

  /* HERO */

  .tag-project::before {
    left: 0;
    width: 15px;
    position: relative;
    height: 15px;
    transform: translateY(-50%); /* Agar kotak tepat di tengah teks */
    margin-top: 15px;
    margin-right: 5px; /* Sesuaikan jarak antara kotak dan teks */
  }

  .hero-project {
    width: 100%;
    background-color: var(--collorThird);
    padding: 3rem 0;
    margin-top: 0;
  }

  .hero-project .p-hero {
    font-size: 0.7rem;
    text-align: center;
    padding: 0 1.5rem;
    width: 60%;
    margin: 0 auto;
  }

  .tag-project {
    margin-bottom: 2rem;
  }

  .tag-project li {
    font-size: 1.5rem;
  }

  .tamplate-project {
    display: grid;
    grid-template-columns: 1fr 0.7fr;
    height: 10rem;
    width: 60%;
    margin: 0 auto;
    margin-top: 1rem;
  }

  @media only screen and (max-width: 450px) {
    .tamplate-project {
      width: 80%;

      .hero-project .p-hero {
        width: 80%;
      }
    }
  }

  .project-left .tag-name {
    font-size: 0.8rem;
    font-weight: 600;
    padding: 0.8rem 0 5px 5px;
  }

  .project-right img {
    height: 100%;
    width: 100%;
    transition: transform 0.3s ease;
  }

  .project-left .role ul {
    display: flex;
    gap: 5px;
    margin-bottom: 1.5rem;
  }
  .project-left {
    display: flex;
    background-color: var(--colorBody);
    flex-direction: column;
    padding: 0 0.5rem;
    position: relative;
  }

  .role ul li {
    border: 1px solid;
    padding: 2px 3px;
    font-weight: 400;
  }

  .project-left p {
    font-size: 0.7rem;
    font-weight: 100;
  }

  .tag-name .content {
    height: 90%;
    width: 6px;
    background-color: black;
    transform: translateX(-270%);
  }
  .project-name {
    transform: translateX(-10%);
  }

  /* CONTACT */

  .hero-contact {
    padding-left: 0;
    padding-right: 0;
    padding-top: 2rem;
  }
  .form-section {
    width: 90%;
    margin: 0 auto;
  }

  form {
    margin-top: 2rem;
  }

  .container-email,
  .subject {
    margin: 0.8rem 0;
  }

  .tag-contact::before {
    left: 0;
    width: 15px;
    position: relative;
    height: 15px;
    transform: translateY(-50%); /* Agar kotak tepat di tengah teks */
    margin-top: 15px;
    margin-right: 5px; /* Sesuaikan jarak antara kotak dan teks */
  }

  .tag-contact {
    margin-bottom: 2rem;
  }

  .tag-contact li {
    font-size: 1.5rem;
  }

  form input,
  form textarea {
    width: 100%;
    height: 2rem;
    border: 1px solid;
    font-size: 0.7rem;
    padding: 0 1rem;
  }

  .container-name,
  .container-email {
    gap: 5px;
  }

  form p {
    font-size: 0.6rem;
  }

  .submit {
    font-size: 0.8rem;
  }

  form textarea {
    height: 5rem;
    resize: none;
  }

  #hamburger {
    height: 2.5rem;
    width: 2.5rem;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
  }

  #hamburger span {
    height: 5px;
    width: 1.7rem;
    background-color: black;
    border-radius: 25px;
    position: absolute;
    top: 5%;
    right: 8px;
    transform: translate(-50%, -50%);
    transition: all 0.5s;
    z-index: 100;
  }

  #hamburger span:nth-child(1) {
    top: 3%;
    right: 32px;
    width: 0.7rem;
  }

  #hamburger span:nth-child(3) {
    top: 7%;
    height: 5px;
    width: 0.7rem;
    right: 17px;
  }

  #hamburger.active span:nth-child(1) {
    top: 4%;
    width: 1rem;
    height: 3.5px;
    transform: translate(1%, 30%) rotate(45deg);
  }
  #hamburger.active span:nth-child(2) {
    height: 3.5px;

    transform: translate(-50%, -50%) rotate(-50deg);
  }
  #hamburger.active span:nth-child(3) {
    top: 5%;
    /* background-color: aqua; */
    height: 3.5px;
    width: 1rem;
    transform: translate(-40%, 75%) rotate(45deg);
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 601px) {
  /*Navbar*/

  .navbar {
    position: fixed;
    top: -150%;
    width: 100%;
    right: 0;
    left: 0;
    height: 100vh;
    background-color: var(--collorThird);
    transition: all 0.6s;
    z-index: 99;
    padding-top: 5rem;
  }

  .navbar.active {
    top: 0;
  }

  .navbar ul {
    flex-direction: column;
  }

  .navbar ul li {
    font-size: 1.2rem;
    font-weight: 400;
  }

  .navbar ul a:hover {
    color: var(--colorSecond);
  }

  /* hamburger menu */

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1rem;
    height: 4rem;
  }

  #hamburger {
    height: 2.5rem;
    width: 2.5rem;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
  }

  #hamburger span {
    height: 5px;
    width: 1.7rem;
    background-color: black;
    border-radius: 25px;
    position: absolute;
    top: 5%;
    right: 8px;
    transform: translate(-50%, -50%);
    transition: all 0.5s;
    z-index: 100;
  }

  #hamburger span:nth-child(1) {
    top: 3%;
    right: 32px;
    width: 0.7rem;
  }

  #hamburger span:nth-child(3) {
    top: 7%;
    height: 5px;
    width: 0.7rem;
    right: 17px;
  }

  #hamburger.active span:nth-child(1) {
    top: 4%;
    width: 1rem;
    height: 3.5px;
    transform: translate(1%, 30%) rotate(45deg);
  }
  #hamburger.active span:nth-child(2) {
    height: 3.5px;

    transform: translate(-50%, -50%) rotate(-50deg);
  }
  #hamburger.active span:nth-child(3) {
    top: 5%;
    /* background-color: aqua; */
    height: 3.5px;
    width: 1rem;
    transform: translate(-40%, 75%) rotate(45deg);
  }

  .logo .name::before {
    content: ""; /* Konten kosong karena hanya kotak yang ditampilkan */
    display: inline-block;
    width: 12px; /* Ukuran lebar kotak */
    height: 12px; /* Ukuran tinggi kotak */
    background-color: var(--colorSecond); /* Warna kotak */
    position: absolute;
    left: -20px; /* Atur jarak kotak dari teks */
    top: 50%; /* Posisikan di tengah vertikal */
    transform: translateY(-50%); /* Sesuaikan agar di tengah */
  }

  .logo .name {
    font-size: clamp(1.5rem, 3.3vw, 2.2rem);
  }

  .logo .line,
  .logo .profesi {
    font-size: clamp(1.2rem, 2.3vw, 1.6rem);
  }

  /* HEADER */

  .container {
    padding: 3rem 2rem;
  }

  /* HERO */
  .hero {
    width: 100%;
  }
  .container-1 {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    width: 100%;
  }

  .hero-left {
    height: 40vh;
    background-color: var(--colorbody);
  }
  .hero-right {
    background-color: var(--colorSecond);
  }

  .tamplate {
    height: 25rem;
    width: 17rem;
    background-color: var(--collorThird);
    z-index: 3;
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow: -10px 10px 15px rgb(0, 0, 0, 0.1);

    /* Pemusatan absolut ke tengah */
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .back-image {
    height: 14rem;
    width: 14rem;
    top: 0;
    border-radius: 50%;
    background-color: var(--colorBody);
    position: absolute;
    display: flex;
    justify-content: center;

    align-items: center;
    z-index: 1;
    overflow: hidden;
  }

  .tamplate img {
    height: 18rem;
    width: 18rem;

    position: absolute;
    display: block;
    z-index: 2;
    object-fit: cover; /* Menjaga proporsi gambar agar sesuai dengan area */
  }

  .tamplate h1 {
    font-size: 1.2rem;
    font-weight: 900;
  }

  .line-image {
    background-color: var(--colorSecond);
    padding: 1px 30px;
    margin: 4px 9.5rem;
  }

  .tamplate h2 {
    font-weight: 300;
    font-size: 1rem;
  }

  .medsos-tamplate {
    width: 100%;
    margin-top: 0.5rem;
    background-color: var(--colorBody);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .medsos-tamplate ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 1.2rem;
  }

  /* HERO RIGHT */

  .hero-right {
    width: 100%;
    padding: 0 0.5rem;
    display: fixed;
    padding-top: 30rem;
    padding-bottom: 15rem;
    align-items: center;
    justify-content: end;
    text-align: center;
  }

  .hero-right h1 {
    font-size: 3rem;
  }

  .buttons a {
    padding: 7px 25px;
  }

  .btn-1:hover {
    background-color: var(--colorBody);
    color: var(--colorSecond);
  }

  .btn-2:hover {
    background-color: var(--colorSecond);
    color: var(--colorBody);
  }

  .hero-right h4 {
    font-size: 1rem;
  }

  .paragraph {
    display: flex;
    text-align: left;
    flex-wrap: wrap;
    width: 85%;
  }

  .paragraph p {
    padding: 10px 1.3rem;
    font-size: 1.2rem;
    text-align: justify;
  }

  /* FOOTER */

  .footer {
    width: 100%;
    display: grid;
    align-items: start;
    grid-template-columns: 1fr;
    padding: 2.5rem 2rem 5px 2rem;
    background-color: var(--colorBody);
    right: 0;
    left: 0;
  }

  .tag-1 p {
    grid-row: 2;
    margin-top: 1rem;
    padding-left: 0;
    font-size: 0.7rem;
    justify-content: center;
    text-align: center;
  }

  .call p,
  .email p,
  .follow p {
    font-size: 0.7rem;
  }

  .tag-2 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    grid-template-columns: 1fr;
    align-items: center;
    text-align: center;
    grid-row: 1;
  }

  .call h1,
  .email h1,
  .follow h1 {
    font-size: 0.8rem;
    font-weight: 500;
    padding-bottom: 5px;
  }

  .follow svg {
    height: 1.2rem;
    padding-top: 5px;
    margin: 0;
  }

  .follow a {
    text-decoration: none;
  }

  /* RESUME */

  .hero-resume {
    padding-left: clamp(5rem, 15vw, 10rem);
    padding-right: clamp(5rem, 15vw, 10rem);
    justify-content: center;
    width: 100%;
  }

  .tag-resume ul li {
    font-size: 1.8rem;
    font-family: "Robotto";
  }

  .tag-resume::before {
    left: 0;
    width: 15px;
    position: relative;
    height: 15px;
    transform: translateY(-50%); /* Agar kotak tepat di tengah teks */
    margin-top: 15px;
    margin-right: 5px; /* Sesuaikan jarak antara kotak dan teks */
  }

  .tag2-resume h1 {
    font-size: 1.2rem;
  }

  .tag2-resume a {
    padding: 5px 10px;
    font-size: 0.8rem;
  }

  .education,
  .education-2 {
    gap: 10px;
    height: 18rem;
    justify-content: center;
    padding-left: clamp(0.5rem, 5vw, 2rem);
    padding-right: clamp(0.5rem, 5vw, 2rem);
  }

  .education-left h1 {
    font-size: 1rem;
  }

  .education-left h4 {
    font-size: 0.8rem;
    font-weight: 300;
  }

  .education-left h3 {
    font-size: 0.7rem;
  }

  .education-left p {
    font-size: 0.6rem;
    padding-top: 10px;
    font-weight: 300;
  }

  .education-right {
    font-size: clamp(0.7rem, 2.5vw, 1rem);
  }

  /* PROJECT */

  .tag-project::before {
    left: 0;
    width: 15px;
    position: relative;
    height: 15px;
    transform: translateY(-50%); /* Agar kotak tepat di tengah teks */
    margin-top: 15px;
    margin-right: 5px; /* Sesuaikan jarak antara kotak dan teks */
  }

  .hero-project {
    width: 100%;
    background-color: var(--collorThird);
    padding: 3rem 0;
    margin-top: 0;
  }

  .hero-project .p-hero {
    font-size: 0.7rem;
    text-align: center;
    width: 60%;
    margin: 0 auto;
  }

  .tag-project {
    margin-bottom: 2rem;
  }

  .tag-project li {
    font-size: 1.5rem;
  }

  .tamplate-project {
    display: grid;
    grid-template-columns: 1fr 0.7fr;
    height: 13rem;
    width: 60%;
    margin: 0 auto;
    margin-top: 1rem;
  }

  /* @media only screen and (max-width: 680px) {
    .tamplate-project {
      width: 80%;
    }
  } */

  .project-left .tag-name {
    font-size: 0.8rem;
    font-weight: 600;
    padding: 0.8rem 0 5px 5px;
  }

  .project-right img {
    height: 100%;
    width: 100%;
    transition: transform 0.3s ease;
  }

  .project-left .role ul {
    display: flex;
    gap: 5px;
    margin-bottom: 1.5rem;
  }
  .project-left {
    display: flex;
    background-color: var(--colorBody);
    flex-direction: column;
    padding: 0 0.5rem;
    position: relative;
  }

  .role ul li {
    border: 1px solid;
    padding: 2px 3px;
    font-weight: 400;
  }

  .project-left p {
    font-size: 0.7rem;
    font-weight: 100;
  }

  .tag-name .content {
    height: 90%;
    width: 6px;
    background-color: black;
    transform: translateX(-270%);
  }
  .project-name {
    transform: translateX(-10%);
  }

  /* CONTACT */

  .hero-contact {
    padding-left: 0;
    padding-right: 0;
    padding-top: 2rem;
  }
  .form-section {
    width: 90%;
    margin: 0 auto;
  }

  form {
    margin-top: 2rem;
    width: 85%;
    margin: 0 auto;
  }

  .container-email,
  .subject {
    margin: 0.8rem 0;
  }

  .tag-contact::before {
    left: 0;
    width: 15px;
    position: relative;
    height: 15px;
    transform: translateY(-50%); /* Agar kotak tepat di tengah teks */
    margin-top: 15px;
    margin-right: 5px; /* Sesuaikan jarak antara kotak dan teks */
  }

  .tag-contact {
    margin-bottom: 2rem;
  }

  .tag-contact li {
    font-size: 1.5rem;
  }

  form input,
  form textarea {
    width: 100%;
    height: 2rem;
    border: 1px solid;
    font-size: 0.7rem;
    padding: 0 1rem;
  }

  .container-name,
  .container-email {
    gap: 5px;
  }

  form p {
    font-size: 0.6rem;
  }

  .submit {
    font-size: 0.8rem;
  }

  form textarea {
    height: 5rem;
    resize: none;
  }

  #hamburger {
    height: 2.5rem;
    width: 2.5rem;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
  }

  #hamburger span {
    height: 5px;
    width: 1.7rem;
    background-color: black;
    border-radius: 25px;
    position: absolute;
    top: 5%;
    right: 8px;
    transform: translate(-50%, -50%);
    transition: all 0.5s;
    z-index: 100;
  }

  #hamburger span:nth-child(1) {
    top: 3%;
    right: 32px;
    width: 0.7rem;
  }

  #hamburger span:nth-child(3) {
    top: 7%;
    height: 5px;
    width: 0.7rem;
    right: 17px;
  }

  #hamburger.active span:nth-child(1) {
    top: 4%;
    width: 1rem;
    height: 3.5px;
    transform: translate(1%, 30%) rotate(45deg);
  }
  #hamburger.active span:nth-child(2) {
    height: 3.5px;

    transform: translate(-50%, -50%) rotate(-50deg);
  }
  #hamburger.active span:nth-child(3) {
    top: 5%;
    /* background-color: aqua; */
    height: 3.5px;
    width: 1rem;
    transform: translate(-40%, 75%) rotate(45deg);
  }

  @media only screen and (min-width: 680px) {
    .submit {
      font-size: 1rem;
      padding: 5px 30px;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /*Navbar*/

  .navbar {
    position: fixed;
    top: -150%;
    width: 100%;
    right: 0;
    left: 0;
    height: 100vh;
    background-color: var(--collorThird);
    transition: all 0.6s;
    z-index: 99;
    padding-top: 5rem;
  }

  .navbar.active {
    top: 0;
  }

  .navbar ul {
    flex-direction: column;
  }

  .navbar ul li {
    font-size: 1.2rem;
    font-weight: 400;
  }

  .navbar ul a:hover {
    color: var(--colorSecond);
  }

  /* hamburger menu */

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1rem;
    padding: 2rem 0;
  }

  #hamburger {
    height: 2.5rem;
    width: 2.5rem;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
  }

  #hamburger span {
    height: 5px;
    width: 1.7rem;
    background-color: black;
    border-radius: 25px;
    position: absolute;
    top: 5%;
    right: 8px;
    transform: translate(-50%, -50%);
    transition: all 0.5s;
    z-index: 100;
  }

  #hamburger span:nth-child(1) {
    top: 3%;
    right: 32px;
    width: 0.7rem;
  }

  #hamburger span:nth-child(3) {
    top: 7%;
    height: 5px;
    width: 0.7rem;
    right: 17px;
  }

  #hamburger.active span:nth-child(1) {
    top: 4%;
    width: 1rem;
    height: 3.5px;
    transform: translate(1%, 30%) rotate(45deg);
  }
  #hamburger.active span:nth-child(2) {
    height: 3.5px;

    transform: translate(-50%, -50%) rotate(-50deg);
  }
  #hamburger.active span:nth-child(3) {
    top: 5%;
    /* background-color: aqua; */
    height: 3.5px;
    width: 1rem;
    transform: translate(-40%, 75%) rotate(45deg);
  }

  .logo .name::before {
    content: ""; /* Konten kosong karena hanya kotak yang ditampilkan */
    display: inline-block;
    width: 12px; /* Ukuran lebar kotak */
    height: 12px; /* Ukuran tinggi kotak */
    background-color: var(--colorSecond); /* Warna kotak */
    position: absolute;
    left: -20px; /* Atur jarak kotak dari teks */
    top: 50%; /* Posisikan di tengah vertikal */
    transform: translateY(-50%); /* Sesuaikan agar di tengah */
  }

  .logo .name {
    font-size: clamp(1.5rem, 3.3vw, 2.2rem);
  }

  .logo .line,
  .logo .profesi {
    font-size: clamp(1.2rem, 2.3vw, 1.6rem);
  }

  /* HERO */
  .hero {
    width: 100%;
  }
  .container-1 {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    width: 100%;
  }

  .hero-left {
    background-color: var(--colorBody);
    height: 40vh;
    margin-top: 10rem; /*di leptop margin-top:0; tidak responsiv di hp*/
  }
  .hero-right {
    background-color: var(--colorSecond);
  }

  .tamplate {
    height: 25rem;
    width: 17rem;
    background-color: var(--collorThird);
    z-index: 3;
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow: -10px 10px 15px rgb(0, 0, 0, 0.1);

    /* Pemusatan absolut ke tengah */
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .back-image {
    height: 14rem;
    width: 14rem;
    top: 0;
    border-radius: 50%;
    background-color: var(--colorBody);
    position: absolute;
    display: flex;
    justify-content: center;

    align-items: center;
    z-index: 1;
    overflow: hidden;
  }

  .tamplate img {
    height: 18rem;
    width: 18rem;

    position: absolute;
    display: block;
    z-index: 2;
    object-fit: cover; /* Menjaga proporsi gambar agar sesuai dengan area */
  }

  .tamplate h1 {
    font-size: 1.2rem;
    font-weight: 900;
  }

  .line-image {
    background-color: var(--colorSecond);
    padding: 1px 30px;
    margin: 4px 9.5rem;
  }

  .tamplate h2 {
    font-weight: 300;
    font-size: 1rem;
  }

  .medsos-tamplate {
    width: 100%;
    margin-top: 0.5rem;
    background-color: var(--colorBody);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .medsos-tamplate ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 1.2rem;
  }

  /* HERO RIGHT */

  .hero-right {
    width: 100%;
    padding: 0 0.5rem;
    display: flex;
    padding-top: 30rem;
    padding-bottom: 15rem;
    align-items: center;
    text-align: center;
  }

  .hero-right h1 {
    font-size: 3rem;
  }

  .buttons a {
    padding: 7px 25px;
  }

  .btn-1:hover {
    background-color: var(--colorBody);
    color: var(--colorSecond);
  }

  .btn-2:hover {
    background-color: var(--colorSecond);
    color: var(--colorBody);
  }

  .hero-right h4 {
    font-size: 1rem;
  }

  .paragraph {
    display: flex;
    text-align: left;
    flex-wrap: wrap;
    width: 85%;
  }

  .paragraph p {
    padding: 10px 5rem;
    font-size: 1.2rem;
    text-align: justify;
  }

  /* FOOTER */

  .footer {
    width: 100%;
    display: grid;
    align-items: start;
    grid-template-columns: 1fr;
    padding: 2.5rem 2rem 1rem 2rem;
    background-color: var(--colorBody);
    right: 0;
    left: 0;
  }

  .tag-1 p {
    grid-row: 2;
    padding-left: 0;
    font-size: 0.7rem;
    justify-content: center;
    text-align: center;
  }

  .call p,
  .email p,
  .follow p {
    font-size: 0.7rem;
  }

  .tag-2 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    grid-template-columns: 1fr;
    align-items: center;
    text-align: center;
    grid-row: 1;
  }

  .call h1,
  .email h1,
  .follow h1 {
    font-size: 0.8rem;
    font-weight: 500;
    padding-bottom: 5px;
  }

  .follow svg {
    height: 1.2rem;
    padding-top: 5px;
    margin: 0;
  }

  .follow a {
    text-decoration: none;
  }

  /* RESUME */

  .hero-resume {
    padding-left: clamp(7rem, 21vw, 20rem);
    padding-right: clamp(7rem, 21vw, 20rem);
    justify-content: center;
  }

  .tag-resume ul li {
    font-size: 1.8rem;
    font-family: "Robotto";
  }

  .tag-resume::before {
    left: 0;
    width: 15px;
    position: relative;
    height: 15px;
    transform: translateY(-50%); /* Agar kotak tepat di tengah teks */
    margin-top: 15px;
    margin-right: 5px; /* Sesuaikan jarak antara kotak dan teks */
  }

  .tag2-resume h1 {
    font-size: 1.2rem;
  }

  .tag2-resume a {
    padding: 5px 10px;
    font-size: 0.8rem;
  }

  .education,
  .education-2 {
    gap: 10px;
    height: 18rem;
    justify-content: center;
    padding-left: clamp(0.5rem, 5vw, 2rem);
    padding-right: clamp(0.5rem, 5vw, 2rem);
  }

  .education-left h1 {
    font-size: 1rem;
  }

  .education-left h4 {
    font-size: 0.8rem;
    font-weight: 300;
  }

  .education-left h3 {
    font-size: 0.7rem;
  }

  .education-left p {
    font-size: 0.6rem;
    padding-top: 10px;
    font-weight: 300;
  }

  .education-right {
    font-size: clamp(0.7rem, 2.5vw, 1rem);
  }

  /* PROJECT */

  .tag-project::before {
    left: 0;
    width: 15px;
    position: relative;
    height: 15px;
    transform: translateY(-50%); /* Agar kotak tepat di tengah teks */
    margin-top: 15px;
    margin-right: 5px; /* Sesuaikan jarak antara kotak dan teks */
  }

  .hero-project {
    width: 100%;
    background-color: var(--collorThird);
    padding: 3rem 0;
    margin-top: 0;
  }

  .hero-project .p-hero {
    font-size: 0.7rem;
    text-align: center;
    width: 60%;
    margin: 0 auto;
  }

  .tag-project {
    margin-bottom: 2rem;
  }

  .tag-project li {
    font-size: 1.5rem;
  }

  .tamplate-project {
    display: grid;
    grid-template-columns: 1fr 0.7fr;
    height: 13rem;
    width: 60%;
    margin: 0 auto;
    margin-top: 1rem;
  }

  @media only screen and (min-width: 850px) {
    .tamplate-project {
      width: 50%;
      height: 16rem;
      margin-top: 2rem;
    }

    .hero-project .p-hero {
      width: 50%;
      font-size: 1rem;
    }

    .role ul {
      padding-left: 7px;
    }

    .role ul li {
      border: 1px solid;
      padding: 5px 7px;
      font-weight: 700;
      font-size: 0.6rem;
    }

    .project-left .p-project {
      font-size: 1rem;
      padding-left: 7px;
    }
    .project-left .tag-name .project-name {
      font-size: 1.2rem;
      font-weight: 800;
      margin-top: 1rem;
      padding: 0 0 5px 10px;
    }

    .project-left .tag-name {
      padding-top: 1rem;
    }

    .hero-project .tag-name .content {
      height: 30px;
      width: 6px;
      background-color: black;
      transform: translateX(-230%);
      margin-top: 0.8rem;
    }
  }

  .project-left .tag-name {
    font-size: 0.8rem;
    font-weight: 600;
    padding: 0.8rem 0 5px 5px;
  }

  .project-right img {
    height: 100%;
    width: 100%;
    transition: transform 0.3s ease;
  }

  .project-left .role ul {
    display: flex;
    gap: 5px;
    margin-bottom: 1.5rem;
  }
  .project-left {
    display: flex;
    background-color: var(--colorBody);
    flex-direction: column;
    padding: 0 0.5rem;
    position: relative;
  }

  .role ul li {
    border: 1px solid;
    padding: 2px 3px;
    font-weight: 400;
  }

  .project-left p {
    font-size: 0.7rem;
    font-weight: 100;
  }

  .tag-name .content {
    height: 90%;
    width: 6px;
    background-color: black;
    transform: translateX(-270%);
  }
  .project-name {
    transform: translateX(-10%);
  }

  /* CONTACT */
  .container-name,
  .container-email {
    gap: 30px;
  }

  form input,
  form textarea {
    font-size: 1.1rem;
    height: 2.3rem;
  }

  form p {
    font-size: 0.8rem;
  }

  @media only screen and (min-width: 850px) {
    form {
      width: 80%;
      margin: 0 auto;
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 991px) and (max-width: 1200px) {
  /* HEADER  */
  .container {
    display: flex;
    align-items: center;
    padding-left: 4rem;
    top: 50%;
    left: 0;
    right: 0;
    width: 100%;
  }

  .logo .name::before {
    content: ""; /* Konten kosong karena hanya kotak yang ditampilkan */
    display: inline-block;
    width: 18px; /* Ukuran lebar kotak */
    height: 18px; /* Ukuran tinggi kotak */
    background-color: var(--colorSecond); /* Warna kotak */
    position: absolute;
    left: -25px; /* Atur jarak kotak dari teks */
    top: 50%; /* Posisikan di tengah vertikal */
    transform: translateY(-50%); /* Sesuaikan agar di tengah */
  }
  .logo .name {
    font-size: clamp(1.2rem, 3vw, 2rem);
  }

  .logo .line,
  .logo .profesi {
    font-size: clamp(0.5rem, 2vw, 1.6rem);
  }

  #hamburger {
    display: none;
  }

  .logo {
    flex: 1;
    justify-content: center;
  }

  .navbar {
    flex: 1;
    align-items: center;
    position: static; /* Kembalikan posisi navbar ke dalam header */
    top: auto; /* Hapus nilai top yang ditetapkan untuk mobile */
    height: auto; /* Sesuaikan tinggi navbar di desktop */
    z-index: auto; /* Hapus z-index jika tidak diperlukan */
    padding-top: 0; /* Sesuaikan padding jika diperlukan */
    display: flex; /* Gunakan flexbox untuk tata letak */
    justify-content: flex-end; /* Merapatkan ke kanan */
    background-color: var(--colorBody);
    transition: none;
  }

  .navbar ul {
    flex-direction: row; /* Navbar dalam format baris di desktop */
    gap: 1rem;
    font-size: 1rem;
    font-weight: 300;
  }

  .navbar ul li {
    font-size: clamp(0.9rem, 1.7vw, 1.2rem);
    font-weight: 300;
  }

  .navbar a:hover {
    color: var(--colorSecond);
  }

  /* HERO */

  .container-1 {
    display: grid;
    margin-top: 5rem;
    grid-template-columns: 1.3fr 2fr;
    z-index: 1;
    position: relative;
  }

  .hero-left {
    width: 100%;
    height: 80vh;
    background-color: var(--colorSecond);
  }

  .hero-right {
    background-color: var(--colorBody);
    position: relative;
    display: flex;
    text-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    align-items: start;
    padding-top: 7rem;
    padding-left: 3rem;
    padding-bottom: 0;
    width: 100%;
  }

  .hero-right h1 {
    font-size: 5rem;
  }

  .buttons {
    padding-left: 2rem;
  }

  .hero-right h4 {
    font-size: 1.5rem;
    font-weight: 200;
  }

  .paragraph {
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
    width: 24rem;
  }

  .paragraph p {
    font-size: 1.5rem;
    padding-top: 5px;
    font-weight: 20;
    padding-bottom: 9rem;
    padding-left: 2rem;
  }

  .hero-right .buttons {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
  }

  .hero-right button {
    padding: 10px 50px;
    border-radius: 50px;
  }

  .hero-right h4 {
    padding-left: 2rem;
  }

  .hero-right h1 {
    padding-left: 2rem;
  }

  .hero-right button a {
    text-decoration: none;
  }

  .buttons a {
    border: 2px solid;
    padding: 10px 30px;
    border-radius: 50px;
    font-weight: 600;
    text-decoration: none;
  }

  .btn-1 {
    background-color: var(--colorSecond);
    color: var(--colorBody);
  }

  .btn-1:hover {
    background-color: var(--colorBody);
    color: var(--colorSecond);
  }

  .btn-2 {
    background-color: var(--colorBody);
    color: var(--colorSecond);
  }

  .btn-2:hover {
    background-color: var(--colorSecond);
    color: var(--colorBody);
  }

  .tamplate {
    height: 30rem;
    width: 20rem;
    background-color: var(--collorThird);
    z-index: 3;
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    top: 50%;
    left: 30%;
    box-shadow: -10px 10px 15px rgb(0, 0, 0, 0.1);
  }

  .back-image {
    height: 18rem;
    width: 18rem;
    border-radius: 50%;
    background-color: var(--colorBody);
    position: absolute;
    margin: 1rem 4.7rem 0 4.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow: hidden;
  }

  .tamplate img {
    height: 22rem;
    width: 22rem;
    top: 1%;
    position: absolute;
    display: block;
    z-index: 2;
    object-fit: cover; /* Menjaga proporsi gambar agar sesuai dengan area */
  }

  .tamplate h1 {
    margin-top: 19.5rem;
    font-size: 1.5rem;
    font-weight: 900;
  }

  .line-image {
    height: 3px;
    background-color: var(--colorSecond);
    margin: 1rem 9.5rem;
  }

  .tamplate h2 {
    font-weight: 300;
    font-size: 1.2rem;
  }

  .medsos-tamplate {
    height: 4rem;
    width: 100%;
    margin-top: 1.5rem;
    background-color: var(--colorBody);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .medsos-tamplate ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 1.2rem;
  }

  /* FOOTER */

  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem 5rem;
    background-color: var(--colorBody);
    right: 0;
    left: 0;
  }

  .tag-2 {
    display: flex;
    align-items: center;
    justify-content: end;
    text-align: center;
    gap: 1.5rem;
  }

  .tag-1 {
    width: 15rem;
  }

  .tag-1 p {
    margin: 0;
    padding: 0;
  }

  .call h1,
  .email h1,
  .follow h1 {
    font-size: 1rem;
    font-weight: 500;
    padding: 0;
    padding-bottom: 5px;
  }

  .follow h1 {
    padding-top: 12px;
  }

  .follow svg {
    height: 1.5rem;
    margin: 0 5px;
  }

  .follow a {
    text-decoration: none;
  }

  /* RESUME */

  .hero-resume {
    padding-top: 10rem;
    padding-left: clamp(15rem, 24vw, 20rem);
    padding-right: clamp(15rem, 24vw, 20rem);
    justify-content: center;
    width: 100%;
    margin-top: 4.5rem;
  }

  .tag-resume ul li {
    font-size: 1.8rem;
    font-family: "Robotto";
  }

  .tag-resume::before {
    left: 0;
    width: 15px;
    position: relative;
    height: 15px;
    transform: translateY(-50%); /* Agar kotak tepat di tengah teks */
    margin-top: 15px;
    margin-right: 5px; /* Sesuaikan jarak antara kotak dan teks */
  }

  .tag2-resume h1 {
    font-size: 1.4rem;
  }

  .tag2-resume a {
    padding: 5px 10px;
    font-size: 1rem;
  }

  .education,
  .education-2 {
    gap: 10px;
    height: 18rem;
    justify-content: center;
    padding-left: clamp(0.5rem, 5vw, 2rem);
    padding-right: clamp(0.5rem, 5vw, 2rem);
  }

  .education-left h1 {
    font-size: 1rem;
  }

  .education-left h4 {
    font-size: 0.8rem;
    font-weight: 300;
  }

  .education-left h3 {
    font-size: 0.7rem;
  }

  .education-left p {
    font-size: 0.6rem;
    padding-top: 10px;
    font-weight: 300;
  }

  .education-right {
    font-size: clamp(0.7rem, 2.5vw, 1rem);
  }

  /* PROJECT */

  .tag-project::before {
    left: 0;
    width: 15px;
    position: relative;
    height: 15px;
    transform: translateY(-50%); /* Agar kotak tepat di tengah teks */
    margin-top: 15px;
    margin-right: 5px; /* Sesuaikan jarak antara kotak dan teks */
  }

  .hero-project {
    width: 100%;
    background-color: var(--collorThird);
    padding: 3rem 0;
    margin-top: 5rem;
  }

  .hero-project .p-hero {
    font-size: 1rem;
    text-align: center;
    width: 50%;
    margin: 0 auto;
  }

  .tag-project {
    margin-bottom: 2rem;
  }

  .tag-project li {
    font-size: 1.5rem;
  }

  .tamplate-project {
    display: grid;
    grid-template-columns: 1fr 0.7fr;
    height: 20rem;
    width: 55%;
    margin: 0 auto;
    margin-top: 2rem;
  }

  /* @media only screen and (min-width: 1125px) {
    .tamplate-project {
      width: 50%;
      height: 16rem;
      margin-top: 2rem;
    }

    .hero-project .p-hero {
      width: 50%;
    }

    .role ul {
      padding-left: 7px;
    }

    .role ul li {
      border: 1px solid;
      padding: 5px 7px;
      font-weight: 700;
      font-size: 0.6rem;
    }

    .project-left .p-project {
      font-size: 1rem;
      padding-left: 7px;
    }
    .project-left .tag-name .project-name {
      font-size: 1.2rem;
      font-weight: 800;
      margin-top: 1rem;
      padding: 0 0 5px 10px;
    }

    .project-left .tag-name {
      padding-top: 1rem;
    }

    .hero-project .tag-name .content {
      height: 30px;
      width: 6px;
      background-color: black;
      transform: translateX(-230%);
      margin-top: 0.8rem;
    }
  } */

  .project-left .tag-name {
    font-size: 0.8rem;
    font-weight: 600;
    padding: 0.8rem 0 5px 5px;
    padding-top: 1rem;
  }

  .project-left .tag-name .project-name {
    font-size: 1.2rem;
    font-weight: 800;
    margin-top: 1rem;
    padding: 0 0 5px 10px;
  }

  .project-right img {
    height: 100%;
    width: 100%;
    transition: transform 0.3s ease;
  }

  .project-left .role ul {
    display: flex;
    gap: 5px;
    margin-bottom: 1.5rem;
    padding-left: 7px;
  }
  .project-left {
    display: flex;
    background-color: var(--colorBody);
    flex-direction: column;
    padding: 0 0.5rem;
    position: relative;
  }

  .role ul li {
    border: 1px solid;
    padding: 5px 7px;
    font-weight: 700;
    font-size: 0.6rem;
  }

  .project-left p {
    font-size: 0.7rem;
    font-weight: 100;
    width: 50%;
  }

  .tag-name .content {
    height: 30px;
    width: 6px;
    background-color: black;
    transform: translateX(-230%);
    margin-top: 0.8rem;
  }

  .project-name {
    transform: translateX(-10%);
  }

  .project-left .p-project {
    font-size: 1rem;
    padding-left: 7px;
  }

  /* CONTACT */

  .hero-contact {
    margin-top: 5rem;
  }

  form input,
  form textarea {
    height: 2.5rem;
    font-size: 1.2rem;
  }

  form {
    width: 75%;
    margin: 0 auto;
  }

  form p {
    font-size: 1rem;
  }

  .container-name,
  .container-email {
    gap: 40px;
  }

  .submit {
    font-size: 1.2rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1201px) {
  /* HEADER  */

  .logo .name {
    padding-left: 20px;
    font-size: clamp(1.2rem, 3vw, 2rem);
  }

  .logo .line,
  .logo .profesi {
    font-size: clamp(0.5rem, 2vw, 1.6rem);
  }

  .logo .name::before {
    content: ""; /* Konten kosong karena hanya kotak yang ditampilkan */
    display: inline-block;
    width: 18px; /* Ukuran lebar kotak */
    height: 18px; /* Ukuran tinggi kotak */
    background-color: var(--colorSecond); /* Warna kotak */
    position: absolute;
    left: -10px; /* Atur jarak kotak dari teks */
    top: 50%; /* Posisikan di tengah vertikal */
    transform: translateY(-50%); /* Sesuaikan agar di tengah */
  }

  #hamburger {
    display: none;
  }

  .logo {
    flex: 1;
    justify-content: center;
  }

  .navbar {
    flex: 1;
    align-items: center;
    position: static; /* Kembalikan posisi navbar ke dalam header */
    top: auto; /* Hapus nilai top yang ditetapkan untuk mobile */
    height: auto; /* Sesuaikan tinggi navbar di desktop */
    z-index: auto; /* Hapus z-index jika tidak diperlukan */
    padding-top: 0; /* Sesuaikan padding jika diperlukan */
    display: flex; /* Gunakan flexbox untuk tata letak */
    justify-content: flex-end; /* Merapatkan ke kanan */
    background-color: var(--colorBody);
    transition: none;
  }

  .navbar ul {
    flex-direction: row; /* Navbar dalam format baris di desktop */
    gap: 1rem;
    font-size: 1rem;
    font-weight: 300;
  }

  .navbar ul li {
    font-size: clamp(0.9rem, 1.7vw, 1.2rem);
    font-weight: 300;
  }

  .navbar a:hover {
    color: var(--colorSecond);
  }

  /* HERO */

  header {
    margin-right: 0;
  }
  .container {
    display: flex;
    align-items: center;
    top: 50%;
    left: 0;
    right: 0;
    z-index: 10;
    width: 100%;
  }

  .container-1 {
    display: grid;
    grid-template-columns: 1.3fr 2fr;
    z-index: 1;
    position: relative;
    gap: 6rem;
    margin-top: 5rem;
  }

  .hero-left {
    width: 100%;
    height: 80vh;
    background-color: var(--colorSecond);
  }

  .hero-right {
    background-color: var(--colorBody);
    position: relative;
    display: flex;
    text-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    align-items: start;
    padding-top: 5rem;
    padding-bottom: 0;
    width: 100%;
  }

  .hero-right h1 {
    font-size: 5rem;
  }

  .hero-right h4 {
    font-size: 1.5rem;
    font-weight: 200;
  }

  .paragraph {
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
    width: 24rem;
  }

  .paragraph p {
    font-size: 1.5rem;
    padding-top: 5px;
    font-weight: 20;
    padding-bottom: 9rem;
    padding-left: 0;
    padding-right: 0;
  }

  .hero-right .buttons {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
  }

  .hero-right button {
    padding: 10px 50px;
    border-radius: 50px;
  }

  .hero-right button a {
    text-decoration: none;
  }

  .buttons a {
    border: 2px solid;
    padding: 10px 30px;
    border-radius: 50px;
    font-weight: 600;
    text-decoration: none;
  }

  .btn-1 {
    background-color: var(--colorSecond);
    color: var(--colorBody);
  }

  .btn-1:hover {
    background-color: var(--colorBody);
    color: var(--colorSecond);
  }

  .btn-2 {
    background-color: var(--colorBody);
    color: var(--colorSecond);
  }

  .btn-2:hover {
    background-color: var(--colorSecond);
    color: var(--colorBody);
  }

  .tamplate {
    height: 30rem;
    width: 20rem;
    background-color: var(--collorThird);
    z-index: 3;
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    top: 50%;
    left: 30%;
    box-shadow: -10px 10px 15px rgb(0, 0, 0, 0.1);
  }

  .back-image {
    height: 18rem;
    width: 18rem;
    border-radius: 50%;
    background-color: var(--colorBody);
    position: absolute;
    margin: 1rem 4.7rem 0 4.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow: hidden;
  }

  .tamplate img {
    height: 22rem;
    width: 22rem;
    top: 1%;
    position: absolute;
    display: block;
    z-index: 2;
    object-fit: cover; /* Menjaga proporsi gambar agar sesuai dengan area */
  }

  .tamplate h1 {
    margin-top: 19.5rem;
    font-size: 1.5rem;
    font-weight: 900;
  }

  .line-image {
    height: 3px;
    background-color: var(--colorSecond);
    margin: 1rem 9.5rem;
  }

  .tamplate h2 {
    font-weight: 300;
    font-size: 1.2rem;
  }

  .medsos-tamplate {
    height: 4rem;
    width: 100%;
    margin-top: 1.5rem;
    background-color: var(--colorBody);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .medsos-tamplate ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 1.2rem;
  }

  /* FOOTER */

  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem 5rem;
    background-color: var(--colorBody);
    right: 0;
    left: 0;
  }

  .footer p {
    font-size: 1rem;
  }
  .tag-2 {
    display: flex;
    align-items: center;
    justify-content: end;
    text-align: center;
    gap: 2.5rem;
  }

  .tag-1 {
    width: 18rem;
  }

  .tag-1 p {
    font-size: clamp(0.1rem, 1.1vw, 1rem);
    margin: 0;
    bottom: 0;
  }

  .call h1,
  .email h1,
  .follow h1 {
    font-size: 1rem;
    font-weight: 500;
    padding: 0;
    padding-bottom: 5px;
  }

  .follow h1 {
    padding-top: 12px;
  }

  .follow svg {
    height: 1.5rem;
    margin: 0 5px;
  }

  .follow a {
    text-decoration: none;
  }

  /* RESUME */

  .hero-resume {
    padding-left: 25rem;
    padding-right: 25rem;
    justify-content: center;
    width: 100%;
    padding-top: 10rem;
  }

  .tag-resume ul li {
    font-size: 2rem;
    font-family: "Robotto";
  }

  .tag-resume::before {
    left: 0;
    width: 18px;
    position: relative;
    height: 18px;
    transform: translateY(-50%); /* Agar kotak tepat di tengah teks */
    margin-top: 15px;
    margin-right: 5px; /* Sesuaikan jarak antara kotak dan teks */
  }

  .tag2-resume h1 {
    font-size: 2rem;
  }

  .tag2-resume a {
    padding: 10px 20px;
    font-size: 1.2rem;
  }

  .education,
  .education-2 {
    gap: 10px;
    height: 25rem;
    justify-content: center;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .education-left h1 {
    font-size: 1.5rem;
  }

  .education-left h4 {
    font-size: 1.2rem;
    font-weight: 300;
    padding-top: 10px;
  }

  .education-left h3 {
    font-size: 1.2rem;
    padding-top: 5px;
  }

  .education-left p {
    font-size: 1rem;
    padding-top: 15px;
    font-weight: 300;
  }

  .education-right {
    font-size: 1.5rem;
    font-weight: 200;
  }

  .tag-project::before {
    left: 0;
    width: 15px;
    position: relative;
    height: 15px;
    transform: translateY(-50%); /* Agar kotak tepat di tengah teks */
    margin-top: 15px;
    margin-right: 5px; /* Sesuaikan jarak antara kotak dan teks */
  }

  .hero-project {
    width: 100%;
    background-color: var(--collorThird);
    padding: 3rem 0;
    margin-top: 5rem;
  }

  .hero-project .p-hero {
    font-size: 1rem;
    text-align: center;
    width: 50%;
    margin: 0 auto;
  }

  .tag-project {
    margin-bottom: 2rem;
  }

  .tag-project li {
    font-size: 1.5rem;
  }

  .tamplate-project {
    display: grid;
    grid-template-columns: 1fr 0.7fr;
    height: 20rem;
    width: 55%;
    margin: 0 auto;
    margin-top: 2rem;
  }

  /* @media only screen and (min-width: 1125px) {
    .tamplate-project {
      width: 50%;
      height: 16rem;
      margin-top: 2rem;
    }

    .hero-project .p-hero {
      width: 50%;
    }

    .role ul {
      padding-left: 7px;
    }

    .role ul li {
      border: 1px solid;
      padding: 5px 7px;
      font-weight: 700;
      font-size: 0.6rem;
    }

    .project-left .p-project {
      font-size: 1rem;
      padding-left: 7px;
    }
    .project-left .tag-name .project-name {
      font-size: 1.2rem;
      font-weight: 800;
      margin-top: 1rem;
      padding: 0 0 5px 10px;
    }

    .project-left .tag-name {
      padding-top: 1rem;
    }

    .hero-project .tag-name .content {
      height: 30px;
      width: 6px;
      background-color: black;
      transform: translateX(-230%);
      margin-top: 0.8rem;
    }
  } */

  .project-left .tag-name {
    font-size: 0.8rem;
    font-weight: 600;
    padding: 0.8rem 0 5px 5px;
    padding-top: 1rem;
  }

  .project-left .tag-name .project-name {
    font-size: 1.2rem;
    font-weight: 800;
    margin-top: 1rem;
    padding: 0 0 5px 10px;
  }

  .project-right img {
    height: 100%;
    width: 100%;
    transition: transform 0.3s ease;
  }

  .project-left .role ul {
    display: flex;
    gap: 5px;
    margin-bottom: 1.5rem;
    padding-left: 7px;
  }

  .project-left {
    display: flex;
    background-color: var(--colorBody);
    flex-direction: column;
    padding: 0 0.5rem;
    position: relative;
  }

  .role ul li {
    border: 1px solid;
    padding: 5px 7px;
    font-weight: 700;
    font-size: 0.6rem;
  }

  .project-left p {
    font-size: 0.7rem;
    font-weight: 100;
    width: 50%;
  }

  .tag-name .content {
    height: 30px;
    width: 6px;
    background-color: black;
    transform: translateX(-230%);
    margin-top: 0.8rem;
  }

  .project-name {
    transform: translateX(-10%);
  }

  .project-left .p-project {
    font-size: 1rem;
    padding-left: 7px;
  }

  /* CONTACT */

  .hero-contact {
    margin-top: 5rem;
  }

  .tag-contact li {
    font-size: 2rem;
  }

  form {
    width: 75%;
    margin: 0 auto;
  }

  form p {
    font-size: 1.2rem;
  }

  form input,
  form textarea {
    height: 3rem;
    font-size: 1.3rem;
  }

  .container-name,
  .container-email {
    gap: 3rem;
  }

  form textarea {
    height: 10rem;
    resize: none;
  }

  .submit {
    font-size: 1.4rem;
    padding: 5px 30px;
  }
}

@media (min-width: 1300px) {
  .tag-project::before {
    left: 0;
    width: 15px;
    position: relative;
    height: 15px;
    transform: translateY(-50%); /* Agar kotak tepat di tengah teks */
    margin-top: 15px;
    margin-right: 5px; /* Sesuaikan jarak antara kotak dan teks */
  }

  .hero-project {
    width: 100%;
    background-color: var(--collorThird);
    padding: 3rem 0;
    margin-top: 5rem;
  }

  .hero-project .p-hero {
    font-size: 1rem;
    text-align: center;
    width: 50%;
    margin: 0 auto;
  }

  .tag-project {
    margin-bottom: 2rem;
  }

  .tag-project li {
    font-size: 2rem;
  }

  .tamplate-project {
    display: grid;
    grid-template-columns: 1fr 0.7fr;
    height: 25rem;
    width: 55%;
    margin: 0 auto;
    padding-top: 1rem;
    margin-bottom: 5rem;
  }

  /* @media only screen and (min-width: 1125px) {
    .tamplate-project {
      width: 50%;
      height: 16rem;
      margin-top: 2rem;
    }

    .hero-project .p-hero {
      width: 50%;
    }

    .role ul {
      padding-left: 7px;
    }

    .role ul li {
      border: 1px solid;
      padding: 5px 7px;
      font-weight: 700;
      font-size: 0.6rem;
    }

    .project-left .p-project {
      font-size: 1rem;
      padding-left: 7px;
    }
    .project-left .tag-name .project-name {
      font-size: 1.2rem;
      font-weight: 800;
      margin-top: 1rem;
      padding: 0 0 5px 10px;
    }

    .project-left .tag-name {
      padding-top: 1rem;
    }

    .hero-project .tag-name .content {
      height: 30px;
      width: 6px;
      background-color: black;
      transform: translateX(-230%);
      margin-top: 0.8rem;
    }
  } */

  .project-left .tag-name {
    font-size: 0.8rem;
    font-weight: 600;
    padding: 0.8rem 0 5px 5px;
    padding-top: 1rem;
  }

  .project-left .tag-name .project-name {
    font-size: 1.5rem;
    font-weight: 800;
    margin-top: 1rem;
    padding: 0 0 5px 12px;
  }

  .project-right img {
    height: 100%;
    width: 100%;
    transition: transform 0.3s ease;
  }

  .project-left .role ul {
    display: flex;
    gap: 5px;
    margin-bottom: 1.5rem;
    padding-left: 7px;
  }

  .project-left {
    display: flex;
    background-color: var(--colorBody);
    flex-direction: column;
    padding: 0 0.5rem;
    position: relative;
  }

  .role ul li {
    border: 1px solid;
    padding: 5px 7px;
    font-weight: 600;
    font-size: 0.8rem;
  }

  .tag-name .content {
    height: 30px;
    width: 6px;
    background-color: black;
    transform: translateX(-230%);
    margin-top: 0.8rem;
  }

  .project-name {
    transform: translateX(-10%);
  }

  .project-left p {
    font-size: 1.3rem;
    padding-left: 7px;
    width: 100%;
  }
}
